<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-avatar style="margin:24px auto;width:120px;height:120px;display:block;">
    <ion-img src="assets/dualipa.jpg"></ion-img>
  </ion-avatar>
  <ion-label>Dua Lipa</ion-label>

 <!--
  <ion-chip color="primary" outline="¨true"
      *ngFor="let item of [1,1,1,1]">
    <ion-avatar>
      <ion-img src="assets/dualipa.jpg"></ion-img>
    </ion-avatar>
    <ion-label>Default</ion-label>
  </ion-chip>

 
   <ion-list>
  <ion-item *ngFor="let item of [1,1,1,1]">
    <ion-avatar slot="start">
      <img src="/assets/dualipa.jpg" />
    </ion-avatar>

    <ion-label>Dua Lipa</ion-label>
  </ion-item>
</ion-list>
-->


</ion-content>
