<app-header titulo="card"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Massachusetts</ion-card-subtitle>
      <ion-card-title>Boston</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Es la capital y ciudad más poblada del estado de Massachusetts
      y una de las ciudades más antiguas de los Estados Unidos
      al tratarse de la ciudad más poblada de Nueva Inglaterra
    </ion-card-content>
  </ion-card>

<ion-card>
  <ion-item color="primary">
    <ion-icon slot="start" name="pin-outline"></ion-icon>
    <ion-label>Más información</ion-label>
  </ion-item>

  <ion-card-content>
    Tras la independencia de los Estados Unidos se logró que Boston se convirtiera en un importante puerto marítimo
    y centro manufacturero​ y su rica historia atrae ahora a 16.3 millones de visitantes al año.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item color="primary">
    <ion-icon slot="start" name="pin-outline"></ion-icon>
    <ion-label>Economía</ion-label>
  </ion-item>

  <ion-card-content>
    La economía también se basa en la investigación, la electrónica, la ingeniería, las finanzas, la tecnología y la biotecnología
    principalmente. Boston ocupa el primer lugar en el país en puestos de trabajo por milla cuadrada, por delante de la ciudad de
    Nueva York y Washington D. C.
  </ion-card-content>
</ion-card>


<ion-card>
  <img src="https://content.r9cdn.net/rimg/dimg/6a/71/7445e7a5-city-25588-15e7c30a1fb.jpg?crop=true&width=1020&height=498">
</ion-card>

  <ion-card-content>
    Coordenadas	42°21′37″N 71°03′28″O
  </ion-card-content>

</ion-content>
